body, html {
    height: 100%;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login-container {
    width: 500px; /* Set the width to 600px */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.login-header {
    margin-bottom: 20px;
}